@import url(http://fonts.googleapis.com/css?family=Varela+Round);
.snow {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.flake {
  position: absolute;
  border-radius: 50%;
  -ms-transform: translateY(0) rotateX(0) rotateY(0);
  -webkit-transform: translateY(0) rotateX(0) rotateY(0);
  transform: translateY(0) rotateX(0) rotateY(0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
}

.flake:nth-child(1) {
  width: 13px;
  height: 13px;
  top: -639px;
  left: 49%;
  opacity: 0.55;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(2) {
  width: 14px;
  height: 14px;
  top: -193px;
  left: 36%;
  opacity: 0.99;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 67s flakes linear infinite;
  animation: 67s flakes linear infinite;
}

.flake:nth-child(3) {
  width: 8px;
  height: 8px;
  top: -312px;
  left: 61%;
  opacity: 0.97;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(4) {
  width: 8px;
  height: 8px;
  top: -169px;
  left: 55%;
  opacity: 0.79;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(5) {
  width: 10px;
  height: 10px;
  top: -255px;
  left: 62%;
  opacity: 0.91;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(6) {
  width: 13px;
  height: 13px;
  top: -50px;
  left: 2%;
  opacity: 1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(7) {
  width: 13px;
  height: 13px;
  top: -402px;
  left: 19%;
  opacity: 0.56;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(8) {
  width: 14px;
  height: 14px;
  top: -341px;
  left: 42%;
  opacity: 0.57;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(9) {
  width: 11px;
  height: 11px;
  top: -679px;
  left: 48%;
  opacity: 0.86;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(10) {
  width: 8px;
  height: 8px;
  top: -261px;
  left: 64%;
  opacity: 0.84;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(11) {
  width: 8px;
  height: 8px;
  top: -313px;
  left: 28%;
  opacity: 0.75;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 40s flakes linear infinite;
  animation: 40s flakes linear infinite;
}

.flake:nth-child(12) {
  width: 15px;
  height: 15px;
  top: -198px;
  left: 49%;
  opacity: 0.82;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(13) {
  width: 11px;
  height: 11px;
  top: -237px;
  left: 18%;
  opacity: 0.91;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(14) {
  width: 6px;
  height: 6px;
  top: -223px;
  left: 77%;
  opacity: 1;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(15) {
  width: 11px;
  height: 11px;
  top: -143px;
  left: 94%;
  opacity: 0.81;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 52s flakes linear infinite;
  animation: 52s flakes linear infinite;
}

.flake:nth-child(16) {
  width: 10px;
  height: 10px;
  top: -37px;
  left: 80%;
  opacity: 0.88;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

.flake:nth-child(17) {
  width: 10px;
  height: 10px;
  top: -697px;
  left: 84%;
  opacity: 0.56;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 69s flakes linear infinite;
  animation: 69s flakes linear infinite;
}

.flake:nth-child(18) {
  width: 6px;
  height: 6px;
  top: -611px;
  left: 9%;
  opacity: 0.85;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 67s flakes linear infinite;
  animation: 67s flakes linear infinite;
}

.flake:nth-child(19) {
  width: 10px;
  height: 10px;
  top: -578px;
  left: 16%;
  opacity: 0.94;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(20) {
  width: 10px;
  height: 10px;
  top: -16px;
  left: 15%;
  opacity: 0.62;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(21) {
  width: 13px;
  height: 13px;
  top: -425px;
  left: 35%;
  opacity: 0.62;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(22) {
  width: 9px;
  height: 9px;
  top: -183px;
  left: 31%;
  opacity: 0.75;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(23) {
  width: 18px;
  height: 18px;
  top: -51px;
  left: 55%;
  opacity: 0.61;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(24) {
  width: 6px;
  height: 6px;
  top: -326px;
  left: 81%;
  opacity: 0.93;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(25) {
  width: 8px;
  height: 8px;
  top: -358px;
  left: 22%;
  opacity: 0.87;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 33s flakes linear infinite;
  animation: 33s flakes linear infinite;
}

.flake:nth-child(26) {
  width: 9px;
  height: 9px;
  top: -441px;
  left: 19%;
  opacity: 0.81;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(27) {
  width: 16px;
  height: 16px;
  top: -376px;
  left: 41%;
  opacity: 0.56;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(28) {
  width: 14px;
  height: 14px;
  top: -16px;
  left: 40%;
  opacity: 0.62;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(29) {
  width: 18px;
  height: 18px;
  top: -628px;
  left: 60%;
  opacity: 0.69;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(30) {
  width: 12px;
  height: 12px;
  top: -130px;
  left: 31%;
  opacity: 0.78;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

.flake:nth-child(31) {
  width: 20px;
  height: 20px;
  top: -655px;
  left: 58%;
  opacity: 0.89;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(32) {
  width: 14px;
  height: 14px;
  top: -384px;
  left: 55%;
  opacity: 0.58;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 35s flakes linear infinite;
  animation: 35s flakes linear infinite;
}

.flake:nth-child(33) {
  width: 13px;
  height: 13px;
  top: -260px;
  left: 32%;
  opacity: 0.57;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(34) {
  width: 15px;
  height: 15px;
  top: -328px;
  left: 61%;
  opacity: 0.95;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(35) {
  width: 14px;
  height: 14px;
  top: -261px;
  left: 87%;
  opacity: 0.69;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(36) {
  width: 9px;
  height: 9px;
  top: -377px;
  left: 20%;
  opacity: 0.87;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(37) {
  width: 19px;
  height: 19px;
  top: -23px;
  left: 21%;
  opacity: 0.61;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(38) {
  width: 16px;
  height: 16px;
  top: -532px;
  left: 39%;
  opacity: 0.75;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(39) {
  width: 10px;
  height: 10px;
  top: -583px;
  left: 10%;
  opacity: 0.86;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(40) {
  width: 6px;
  height: 6px;
  top: -592px;
  left: 52%;
  opacity: 0.52;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(41) {
  width: 18px;
  height: 18px;
  top: -173px;
  left: 47%;
  opacity: 0.94;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(42) {
  width: 13px;
  height: 13px;
  top: -359px;
  left: 27%;
  opacity: 1;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(43) {
  width: 8px;
  height: 8px;
  top: -14px;
  left: 24%;
  opacity: 0.75;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(44) {
  width: 15px;
  height: 15px;
  top: -45px;
  left: 83%;
  opacity: 0.54;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(45) {
  width: 9px;
  height: 9px;
  top: -621px;
  left: 53%;
  opacity: 0.96;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(46) {
  width: 9px;
  height: 9px;
  top: -400px;
  left: 94%;
  opacity: 0.78;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(47) {
  width: 10px;
  height: 10px;
  top: -597px;
  left: 85%;
  opacity: 0.85;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

.flake:nth-child(48) {
  width: 7px;
  height: 7px;
  top: -371px;
  left: 90%;
  opacity: 0.86;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(49) {
  width: 9px;
  height: 9px;
  top: -357px;
  left: 47%;
  opacity: 0.85;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(50) {
  width: 7px;
  height: 7px;
  top: -157px;
  left: 13%;
  opacity: 0.62;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(51) {
  width: 18px;
  height: 18px;
  top: -21px;
  left: 92%;
  opacity: 0.78;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(52) {
  width: 17px;
  height: 17px;
  top: -429px;
  left: 4%;
  opacity: 0.52;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(53) {
  width: 18px;
  height: 18px;
  top: -695px;
  left: 88%;
  opacity: 0.82;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(54) {
  width: 9px;
  height: 9px;
  top: -143px;
  left: 16%;
  opacity: 0.53;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

.flake:nth-child(55) {
  width: 13px;
  height: 13px;
  top: -396px;
  left: 84%;
  opacity: 0.73;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 51s flakes linear infinite;
  animation: 51s flakes linear infinite;
}

.flake:nth-child(56) {
  width: 15px;
  height: 15px;
  top: -165px;
  left: 20%;
  opacity: 0.75;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(57) {
  width: 7px;
  height: 7px;
  top: -694px;
  left: 48%;
  opacity: 0.99;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 36s flakes linear infinite;
  animation: 36s flakes linear infinite;
}

.flake:nth-child(58) {
  width: 16px;
  height: 16px;
  top: -638px;
  left: 91%;
  opacity: 0.87;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 52s flakes linear infinite;
  animation: 52s flakes linear infinite;
}

.flake:nth-child(59) {
  width: 17px;
  height: 17px;
  top: -254px;
  left: 68%;
  opacity: 0.99;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(60) {
  width: 12px;
  height: 12px;
  top: -11px;
  left: 29%;
  opacity: 0.82;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(61) {
  width: 19px;
  height: 19px;
  top: -177px;
  left: 25%;
  opacity: 0.52;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(62) {
  width: 18px;
  height: 18px;
  top: -504px;
  left: 63%;
  opacity: 0.88;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(63) {
  width: 10px;
  height: 10px;
  top: -169px;
  left: 93%;
  opacity: 0.52;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(64) {
  width: 7px;
  height: 7px;
  top: -82px;
  left: 85%;
  opacity: 0.61;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(65) {
  width: 19px;
  height: 19px;
  top: -85px;
  left: 74%;
  opacity: 0.94;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(66) {
  width: 11px;
  height: 11px;
  top: -425px;
  left: 25%;
  opacity: 0.83;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(67) {
  width: 10px;
  height: 10px;
  top: -342px;
  left: 13%;
  opacity: 0.62;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(68) {
  width: 15px;
  height: 15px;
  top: -257px;
  left: 67%;
  opacity: 0.77;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 30s flakes linear infinite;
  animation: 30s flakes linear infinite;
}

.flake:nth-child(69) {
  width: 19px;
  height: 19px;
  top: -436px;
  left: 68%;
  opacity: 0.52;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(70) {
  width: 8px;
  height: 8px;
  top: -388px;
  left: 5%;
  opacity: 0.59;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 40s flakes linear infinite;
  animation: 40s flakes linear infinite;
}

.flake:nth-child(71) {
  width: 17px;
  height: 17px;
  top: -246px;
  left: 50%;
  opacity: 0.7;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 30s flakes linear infinite;
  animation: 30s flakes linear infinite;
}

.flake:nth-child(72) {
  width: 7px;
  height: 7px;
  top: -547px;
  left: 81%;
  opacity: 0.58;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(73) {
  width: 12px;
  height: 12px;
  top: -191px;
  left: 47%;
  opacity: 0.51;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(74) {
  width: 18px;
  height: 18px;
  top: -140px;
  left: 57%;
  opacity: 0.54;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(75) {
  width: 20px;
  height: 20px;
  top: -334px;
  left: 79%;
  opacity: 1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(76) {
  width: 11px;
  height: 11px;
  top: -570px;
  left: 34%;
  opacity: 1;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 67s flakes linear infinite;
  animation: 67s flakes linear infinite;
}

.flake:nth-child(77) {
  width: 10px;
  height: 10px;
  top: -604px;
  left: 9%;
  opacity: 0.94;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 23s flakes linear infinite;
  animation: 23s flakes linear infinite;
}

.flake:nth-child(78) {
  width: 18px;
  height: 18px;
  top: -246px;
  left: 35%;
  opacity: 0.96;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(79) {
  width: 12px;
  height: 12px;
  top: -319px;
  left: 80%;
  opacity: 0.59;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

.flake:nth-child(80) {
  width: 19px;
  height: 19px;
  top: -627px;
  left: 58%;
  opacity: 0.93;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(81) {
  width: 9px;
  height: 9px;
  top: -31px;
  left: 60%;
  opacity: 0.61;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(82) {
  width: 9px;
  height: 9px;
  top: -246px;
  left: 14%;
  opacity: 0.9;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(83) {
  width: 11px;
  height: 11px;
  top: -664px;
  left: 58%;
  opacity: 0.76;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

.flake:nth-child(84) {
  width: 10px;
  height: 10px;
  top: -172px;
  left: 57%;
  opacity: 0.88;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

.flake:nth-child(85) {
  width: 16px;
  height: 16px;
  top: -490px;
  left: 96%;
  opacity: 0.8;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(86) {
  width: 6px;
  height: 6px;
  top: -531px;
  left: 59%;
  opacity: 0.96;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(87) {
  width: 8px;
  height: 8px;
  top: -565px;
  left: 52%;
  opacity: 0.81;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(88) {
  width: 15px;
  height: 15px;
  top: -505px;
  left: 64%;
  opacity: 0.51;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(89) {
  width: 9px;
  height: 9px;
  top: -695px;
  left: 21%;
  opacity: 0.89;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(90) {
  width: 20px;
  height: 20px;
  top: -405px;
  left: 97%;
  opacity: 0.94;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 59s flakes linear infinite;
  animation: 59s flakes linear infinite;
}

.flake:nth-child(91) {
  width: 17px;
  height: 17px;
  top: -515px;
  left: 76%;
  opacity: 0.65;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(92) {
  width: 10px;
  height: 10px;
  top: -297px;
  left: 43%;
  opacity: 0.51;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 34s flakes linear infinite;
  animation: 34s flakes linear infinite;
}

.flake:nth-child(93) {
  width: 6px;
  height: 6px;
  top: -194px;
  left: 6%;
  opacity: 0.82;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(94) {
  width: 19px;
  height: 19px;
  top: -181px;
  left: 74%;
  opacity: 0.95;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 40s flakes linear infinite;
  animation: 40s flakes linear infinite;
}

.flake:nth-child(95) {
  width: 6px;
  height: 6px;
  top: -127px;
  left: 22%;
  opacity: 0.71;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 45s flakes linear infinite;
  animation: 45s flakes linear infinite;
}

.flake:nth-child(96) {
  width: 18px;
  height: 18px;
  top: -675px;
  left: 43%;
  opacity: 0.79;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 67s flakes linear infinite;
  animation: 67s flakes linear infinite;
}

.flake:nth-child(97) {
  width: 7px;
  height: 7px;
  top: -619px;
  left: 39%;
  opacity: 1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(98) {
  width: 18px;
  height: 18px;
  top: -529px;
  left: 23%;
  opacity: 0.74;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(99) {
  width: 16px;
  height: 16px;
  top: -468px;
  left: 11%;
  opacity: 0.95;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(100) {
  width: 16px;
  height: 16px;
  top: -561px;
  left: 100%;
  opacity: 0.97;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(101) {
  width: 17px;
  height: 17px;
  top: -208px;
  left: 46%;
  opacity: 0.58;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(102) {
  width: 7px;
  height: 7px;
  top: -698px;
  left: 68%;
  opacity: 0.63;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(103) {
  width: 12px;
  height: 12px;
  top: -241px;
  left: 86%;
  opacity: 0.66;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(104) {
  width: 19px;
  height: 19px;
  top: -374px;
  left: 35%;
  opacity: 0.78;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(105) {
  width: 19px;
  height: 19px;
  top: -689px;
  left: 8%;
  opacity: 0.91;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(106) {
  width: 16px;
  height: 16px;
  top: -604px;
  left: 72%;
  opacity: 0.55;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 23s flakes linear infinite;
  animation: 23s flakes linear infinite;
}

.flake:nth-child(107) {
  width: 13px;
  height: 13px;
  top: -352px;
  left: 89%;
  opacity: 0.7;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(108) {
  width: 14px;
  height: 14px;
  top: -314px;
  left: 9%;
  opacity: 0.6;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(109) {
  width: 19px;
  height: 19px;
  top: -377px;
  left: 92%;
  opacity: 0.56;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 24s flakes linear infinite;
  animation: 24s flakes linear infinite;
}

.flake:nth-child(110) {
  width: 19px;
  height: 19px;
  top: -95px;
  left: 16%;
  opacity: 0.99;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(111) {
  width: 17px;
  height: 17px;
  top: -679px;
  left: 18%;
  opacity: 0.62;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(112) {
  width: 17px;
  height: 17px;
  top: -436px;
  left: 8%;
  opacity: 0.58;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(113) {
  width: 16px;
  height: 16px;
  top: -49px;
  left: 79%;
  opacity: 0.91;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(114) {
  width: 8px;
  height: 8px;
  top: -320px;
  left: 79%;
  opacity: 0.77;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(115) {
  width: 17px;
  height: 17px;
  top: -484px;
  left: 3%;
  opacity: 0.6;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(116) {
  width: 15px;
  height: 15px;
  top: -208px;
  left: 76%;
  opacity: 0.59;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(117) {
  width: 14px;
  height: 14px;
  top: -235px;
  left: 40%;
  opacity: 0.69;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 52s flakes linear infinite;
  animation: 52s flakes linear infinite;
}

.flake:nth-child(118) {
  width: 6px;
  height: 6px;
  top: -343px;
  left: 90%;
  opacity: 0.58;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(119) {
  width: 20px;
  height: 20px;
  top: -554px;
  left: 48%;
  opacity: 0.81;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(120) {
  width: 6px;
  height: 6px;
  top: -412px;
  left: 69%;
  opacity: 0.77;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(121) {
  width: 11px;
  height: 11px;
  top: -540px;
  left: 7%;
  opacity: 0.96;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(122) {
  width: 11px;
  height: 11px;
  top: -675px;
  left: 44%;
  opacity: 0.66;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(123) {
  width: 11px;
  height: 11px;
  top: -309px;
  left: 27%;
  opacity: 0.79;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(124) {
  width: 13px;
  height: 13px;
  top: -303px;
  left: 70%;
  opacity: 0.91;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(125) {
  width: 18px;
  height: 18px;
  top: -549px;
  left: 7%;
  opacity: 0.84;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(126) {
  width: 8px;
  height: 8px;
  top: -6px;
  left: 43%;
  opacity: 0.69;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(127) {
  width: 20px;
  height: 20px;
  top: -266px;
  left: 62%;
  opacity: 0.92;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 40s flakes linear infinite;
  animation: 40s flakes linear infinite;
}

.flake:nth-child(128) {
  width: 15px;
  height: 15px;
  top: -247px;
  left: 73%;
  opacity: 0.83;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(129) {
  width: 13px;
  height: 13px;
  top: -634px;
  left: 28%;
  opacity: 0.9;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(130) {
  width: 9px;
  height: 9px;
  top: -578px;
  left: 24%;
  opacity: 0.6;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(131) {
  width: 11px;
  height: 11px;
  top: -42px;
  left: 59%;
  opacity: 0.52;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(132) {
  width: 11px;
  height: 11px;
  top: -336px;
  left: 58%;
  opacity: 0.93;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(133) {
  width: 17px;
  height: 17px;
  top: -545px;
  left: 24%;
  opacity: 0.55;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(134) {
  width: 7px;
  height: 7px;
  top: -7px;
  left: 91%;
  opacity: 0.74;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(135) {
  width: 10px;
  height: 10px;
  top: -456px;
  left: 21%;
  opacity: 0.55;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(136) {
  width: 15px;
  height: 15px;
  top: -19px;
  left: 59%;
  opacity: 0.59;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(137) {
  width: 6px;
  height: 6px;
  top: -21px;
  left: 70%;
  opacity: 0.81;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(138) {
  width: 17px;
  height: 17px;
  top: -291px;
  left: 61%;
  opacity: 0.7;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 36s flakes linear infinite;
  animation: 36s flakes linear infinite;
}

.flake:nth-child(139) {
  width: 20px;
  height: 20px;
  top: -243px;
  left: 12%;
  opacity: 0.68;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(140) {
  width: 12px;
  height: 12px;
  top: -637px;
  left: 61%;
  opacity: 0.58;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(141) {
  width: 13px;
  height: 13px;
  top: -319px;
  left: 16%;
  opacity: 1;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(142) {
  width: 11px;
  height: 11px;
  top: -272px;
  left: 61%;
  opacity: 0.69;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(143) {
  width: 10px;
  height: 10px;
  top: -448px;
  left: 50%;
  opacity: 0.76;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(144) {
  width: 17px;
  height: 17px;
  top: -57px;
  left: 13%;
  opacity: 0.72;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(145) {
  width: 16px;
  height: 16px;
  top: -422px;
  left: 31%;
  opacity: 0.64;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(146) {
  width: 13px;
  height: 13px;
  top: -318px;
  left: 99%;
  opacity: 0.96;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 34s flakes linear infinite;
  animation: 34s flakes linear infinite;
}

.flake:nth-child(147) {
  width: 10px;
  height: 10px;
  top: -354px;
  left: 28%;
  opacity: 0.63;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(148) {
  width: 13px;
  height: 13px;
  top: -5px;
  left: 55%;
  opacity: 0.98;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(149) {
  width: 9px;
  height: 9px;
  top: -170px;
  left: 25%;
  opacity: 0.73;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(150) {
  width: 19px;
  height: 19px;
  top: -594px;
  left: 88%;
  opacity: 0.94;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

@-webkit-keyframes flakes {
  100% {
    -ms-transform: translateY(1000px) rotateX(29deg) rotateY(22deg);
    -webkit-transform: translateY(1000px) rotateX(29deg) rotateY(22deg);
    transform: translateY(1000px) rotateX(29deg) rotateY(22deg);
    opacity: 0;
  }
}

@keyframes flakes {
  100% {
    -ms-transform: translateY(1000px) rotateX(29deg) rotateY(22deg);
    -webkit-transform: translateY(1000px) rotateX(29deg) rotateY(22deg);
    transform: translateY(1000px) rotateX(29deg) rotateY(22deg);
    opacity: 0;
  }
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZTdmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYTNlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #b7e7fc), color-stop(100%, #00a3ef));
  background-image: -webkit-linear-gradient(bottom, #b7e7fc 0%, #00a3ef 100%);
  background-image: linear-gradient(to top, #b7e7fc 0%, #00a3ef 100%);
}

h1 {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 25%;
width: 80%;
    margin: auto;
}

.buttonwrapper
{
    text-align: center;
  color: #ffffff;
  position: relative;
  top: 35%;
width: 80%;
    margin: auto;
}

a:link
{
    color: white;
    text-decoration: none;
}

a:visited
{
    color: white;
}

a:hover
{
    color: white;
}

a:active
{
    color: white;
}

i
{
    margin-right: 10px;
    margin-left: 10px;
}
